body{
    background-color: #CBD6CB;
    height:1000px;
}
.a1{
    font-family: Verdana, Geneva, sans-serif;
}
a {
    font-size: 15px;
    color: #066;
}
.table2{
    margin-top: 20px;
}
#adobe{
    margin-top: -3px;
    margin-left: -1px;
}